﻿@using LibreriaV5_1_Final.Modelo
@{
    List<Object> articulos = Model[0];
    int registros = (Model[1] / 10) + 1;
}

<div id="form-main">
    <span id="totalArticulos" class="display-4">Total de articulos: @Model[1]</span>

    @if (((TUsuario)Session["usuario"]) != null && ((TUsuario)Session["usuario"]).Rol.Equals("Administrador"))
    {
        <ul id="myList">
            <table id="tabla" class="table">
                <tr>
                    <th scope="col">Articulo</th>
                    <th scope="col">Borrar</th>
                    <th scope="col">Ver</th>
                    <th scope="col">Modificar</th>
                </tr>
                @foreach (TArticulo articulo in articulos)
                {
                    <tr id="@articulo.CodArticulo" class="articulos">
                        <td>
                            @articulo.Nombre
                        </td>
                        <td>
                            @Ajax.ActionLink("Borrar", "borrar", "Articulo", new { art = articulo.CodArticulo }, new AjaxOptions()
                       {
                           HttpMethod = "POST",
                           InsertionMode = InsertionMode.Replace,
                           UpdateTargetId = "totalArticulos",
                       },new { onclick = "borrarArticulo(\"" + articulo.CodArticulo + "\")" ,  @class = "btn btn-danger" } )
                        </td>

                        <td scope="col"> @Html.ActionLink("Ver", "ver", "Articulo", new { art = articulo.CodArticulo }, new { @class = "btn btn-success" })</td>
                        <td> @Html.ActionLink("Editar", "modificar", "Articulo", new { art = articulo.CodArticulo }, new { @class = "btn btn-warning" })</td>

                    </tr>
                }

            </table>
        </ul>
        <br />
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                @for (int i = 0; i < registros; i++)
                {
                    int pagina = i + 1;
                    <li class="page-item"><a class="page-link paginacion" id="@pagina">@pagina</a></li>
                }

            </ul>
        </nav>

    }
    else if (((TUsuario)Session["usuario"]) != null && ((TUsuario)Session["usuario"]).Rol.Equals("Cliente"))
    {
        foreach (TArticulo articulo in articulos)
        {
            <li id="@articulo.CodArticulo">
                @articulo.Nombre
                @Html.ActionLink("Ver", "ver", "Articulo", new { art = articulo.CodArticulo }, null)
            </li>
        }

    }
</div>
<script src="https://code.jquery.com/jquery-3.2.1.js"></script>
@Scripts.Render("~/bundles/ArticulosConsulta")