﻿@using LibreriaV5_1_Final.Modelo
@{
    TArticulo articulo = ViewBag.articulo;
    List<Object> tipos = Model;
}
<h3 style="margin-bottom: 25px; text-align: center;">Editar artículo</h3>
<div class="container">
    <div id="mensaje" role="alert"></div>
    <div class="col-md-10">
        <div class="form-area">
            <form class="form" method="post" action="javascript:Enviar()">
                <input id="codArticulo" name="CodArticulo" type="hidden" value="@articulo.CodArticulo" />
                <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input name="Nombre" type="text" maxlength="30" required="" class="form-control" placeholder="Nombre" id="nombre" value="@articulo.Nombre" />
                </div>
                <div class="form-group">
                    <label for="fabricante">Fabricante</label>
                    <input name="Fabricante" type="text" maxlength="30" minlength="5" required="" class="form-control" placeholder="Fabricante" id="fabricante" value="@articulo.Fabricante" />
                </div>
                <div class="form-group">
                    <label for="tipo">Tipo</label>
                    <select name="Tipo" class="form-control" id="tipo">
                        @foreach (TTipo tipo in tipos)
                        {
                            if (tipo.Tipo.Equals(articulo.Tipo))
                            {
                                <option selected="selected" value="@tipo.Tipo">@tipo.Tipo</option>
                            }
                            else
                            {
                                <option value="@tipo.Tipo">@tipo.Tipo</option>
                            }

                        }
                    </select>
                </div>
                <div class="form-group">
                    <label for="precio">Precio</label>
                    <input name="Precio" type="text" required="" class="form-control" placeholder="Precio" id="precio" value="@articulo.Precio" />
                </div>
                <fieldset class="form-group">
                    <legend>Estado: </legend>
                    <input id="nuevo" type="radio" name="Estado" value="nuevo" @(articulo.Estado == "nuevo" ? "checked" : "") />Nuevo<br />
                    <input id="seminuevo" type="radio" name="Estado" value="seminuevo" @(articulo.Estado == "seminuevo" ? "checked" : "") />Seminuevo<br />
                    <input id="terceraMano" type="radio" name="Estado" value="tercera mano" @(articulo.Estado == "tercera mano" ? "checked" : "") />Tercera mano<br />
                </fieldset>
                <br>
                <div class="submit">
                    <!--Boton enviar, al pulsar HTTP se encarga de mandar los datos al servidor, en este caso es un metodo POST(Declarado en la etiqueta form al principio).
                        Se recomienda usar el metodo POST al enviar datos al servidor ya que van mas ocultos. Si usaramos GET, se veria toda la informacion en la barra de
                        direcciones. GET SIEMPRE PARA PEDIR DATOS AL SERVIDOR. POST SIEMPRE PARA ENVIAR DATOS AL SERVIDOR.
                        -->
                    <input type="submit" value="Modificar" class="btn btn-primary pull-right" id="button-blue" />
                    <div class="ease"></div>
                </div>
                <br>
                <div class="submit">
                    <input type="reset" value="Borrar Campos" class="btn btn-danger pull-right" id="button-reset">
                    <div class="ease"></div>
                </div>
            </form>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/ArticulosModificar")
