﻿@using LibreriaV5_1_Final.Modelo

@{ 
    TArticulo articulo = Model;
}
<h1 class="display-4">Datos del artículos</h1>
<table class="table">
    <tr>
        <td class="col-lg-6">Fabricante </td>
        <td class="col-lg-6">@articulo.Fabricante</td>
    </tr>
    <tr>
        <td class="col-lg-6">Nombre </td>
        <td class="col-lg-6">@articulo.Nombre</td>
    </tr>
    <tr>
        <td class="col-lg-6">Tipo </td>
        <td class="col-lg-6">@articulo.Tipo</td>
    </tr>
    <tr>
        <td class="col-lg-6">Precio </td>
        <td class="col-lg-6">@articulo.Precio</td>
    </tr>
    <tr>
        <td class="col-lg-6">Estado </td>
        <td class="col-lg-6">@articulo.Estado</td>
    </tr>
</table>
