﻿@using LibreriaV5_1_Final.Modelo
<!DOCTYPE html>
<html lang="es">
<head>
    <title>IES Castelar @ViewBag.Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="css/footer.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="/">IES CASTELAR</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            @{
                if (((TUsuario)Session["usuario"]) != null && ((TUsuario)Session["usuario"]).Rol.Equals("Cliente"))
                {
            <div class="collapse navbar-collapse " id="navbarTogglerDemo02">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item dropdown">
                        @Html.ActionLink("Articulos", "compra", new { controller = "Articulo" }, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item dropdown">
                        @Html.ActionLink("Cesta de la compra", "carrito", new { controller = "Carrito" }, new { @class = "nav-link" })
                    </li>

                </ul>
                <ul class="navbar-nav navbar-right mt-2 mt-lg-0">
                    <li class="nav-item dropdown navbar-nav navbar-right">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">@(((TUsuario)Session["usuario"]).Nick) </a>
                        <ul class="dropdown-menu">
                            <li class="nav-item">@Html.ActionLink("Modificar datos", "modificar", new { controller = "Cliente", cli = ((TUsuario)Session["usuario"]).CodUsuario }, new { @class = "dropdown-item" })</li>
                            <li class="nav-item">@Html.ActionLink("Modificar contraseña", "restablecer", new { controller = "Cliente" }, new { @class = "dropdown-item" })</li>
                            <li class="nav-item dropdown">
                                @Html.ActionLink("Mis pedidos", "consultar", new { controller = "Pedido" }, new { @class = "dropdown-item" })
                            </li>                           
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        @Html.ActionLink("Cerrar sesión", "cerrarSesion", new { controller = "Cliente" }, new { @class = "nav-link" })
                    </li>
                </ul>

            </div>
                }
                else if (((TUsuario)Session["usuario"]) != null && ((TUsuario)Session["usuario"]).Rol.Equals("Administrador"))
                {
                    <div class="collapse navbar-collapse " id="navbarTogglerDemo02">
                        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Clientes</a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">@Html.ActionLink("Consultar", "Consultar", new { controller = "Cliente" }, new { @class = "dropdown-item" })</li>
                                    <li class="nav-item">@Html.ActionLink("Añadir", "add", new { controller = "Cliente" }, new { @class = "dropdown-item" })</li>
                                </ul>
                            </li>                            
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Articulos</a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">@Html.ActionLink("Consultar", "Consultar", new { controller = "Articulo" }, new { @class = "dropdown-item" })</li>
                                    <li class="nav-item">@Html.ActionLink("Añadir", "add", new { controller = "Articulo" }, new { @class = "dropdown-item" })</li>

                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                @Html.ActionLink("Pedidos", "consultar", new { controller = "Pedido" }, new { @class = "nav-link" })
                            </li>
                        </ul>
                        <ul class="navbar-nav navbar-right mt-2 mt-lg-0">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">@(((TUsuario)Session["usuario"]).Nick) </a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">@Html.ActionLink("Modificar datos", "modificar", new { controller = "Cliente", cli = ((TUsuario)Session["usuario"]).CodUsuario }, new { @class = "dropdown-item" })</li>
                                    <li class="nav-item">@Html.ActionLink("Modificar contraseña", "restablecer", new { controller = "Cliente" }, new { @class = "dropdown-item" })</li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                @Html.ActionLink("Cerrar sesión", "cerrarSesion", new { controller = "Cliente" }, new { @class = "nav-link" })
                            </li>
                        </ul>
                    </div>
                }
                else
                {
                    <div class="collapse navbar-collapse " id="navbarTogglerDemo02">
                        <ul class="navbar-nav mr-auto mt-2 mt-lg-0"></ul>
                            <ul class="navbar-nav navbar-right mt-2 mt-lg-0">
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Iniciar sesion</a>
                                    <ul class="dropdown-menu">
                                        <div id="mensajelogin" role="alert"></div>
                                        <form class="form" role="form" method="post" action="javascript:EnviarLogin()" accept-charset="UTF-8" id="login-nav">
                                            <div class="form-group">
                                                <label class="sr-only" for="exampleInputEmail2">Usuario</label>
                                                <input name="email" type="email" class="form-control" id="emailLogin" placeholder="Introduce Email" required>
                                            </div>
                                            <div class="form-group">
                                                <label class="sr-only" for="exampleInputPassword2">Contraseña</label>
                                                <input name="password" type="password" class="form-control" id="passwordLogin" placeholder="Introduce Contraseña" required>
                                            </div>
                                            <div class="form-group">
                                                <button type="submit" class="btn btn-primary btn-block">Entrar</button>
                                            </div>
                                        </form>
                                    </ul>
                                </li>
                                <li class="nav-item dropdown">
                                    @Html.ActionLink("Registrarse", "add", new { controller = "Cliente" }, new { @class = "nav-link" })
                                </li>
                            </ul>
                    </div>
                }
            }
        </nav>
    </header>
    <div id="result"></div>

    @RenderBody()


    <!--***********************************************************************************-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    @Scripts.Render("~/bundles/LibreriaScripts")
    @Scripts.Render("~/bundles/Plantilla")
    @RenderSection("scripts", required: false)
</body>
</html>
