﻿<h1>SU CESTA</h1>
<div id="mensaje" role="alert"></div>
<div class="container">
    <div style="height:50px;"></div>
    <div class="row">
        <div class="col-lg-12">
            <a href="@Url.Action("compra", "Articulo")" class="btn btn-primary" style="position:relative; left:3px;"><span class="glyphicon glyphicon-arrow-left"></span> Volver</a>
        </div>
    </div>
    <div style="height:10px;"></div>
    <div id="carrito"></div>
    <div style="height:20px;"></div>
    <div id="confirm" class="row"></div>
</div>

@Scripts.Render("~/bundles/Carrito")
