﻿@using LibreriaV5_1_Final.Modelo
@{
    List<Object> tipos = Model;
}

<h3 style="margin-bottom: 25px; text-align: center;">Registrarse</h3>
<div class="container">
    <div id="mensaje" role="alert"></div>
    <div class="col-md-10">
        <div class="form-area">
            <form id="form" class="form" method="post" action="javascript:isAdmin()">
                <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input name="Nombre" type="text" maxlength="30" required="" class="form-control" placeholder="Nombre" id="nombre" />
                </div>
                <div class="form-group">
                    <label for="apellidos">Apellidos</label>
                    <input name="Apellidos" type="text" maxlength="30" minlength="5" required="" class="form-control" placeholder="Apellidos" id="apellidos" />
                </div>
                <div class="form-group">
                    <label for="dni">DNI</label>
                    <input name="DNI" type="text" maxlength="30" minlength="5" required="" class="form-control" placeholder="DNI" id="dni" />
                </div>
                <div class="form-group">
                    <label for="direccion">Direccion</label>
                    <input name="Direccion" type="text" maxlength="30" minlength="5" required="" class="form-control" placeholder="Direccion" id="direccion" />
                </div>
                <div class="form-group">
                    <label for="email">Correo electronico</label>
                    <input name="Email" type="email" maxlength="30" minlength="5" required="" class="form-control" placeholder="Correo electronico" id="email" />
                    <div id="result-email"></div>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input name="password" type="password" maxlength="10" minlength="5" required="" class="form-control" placeholder="Password" id="password" />
                </div>
                <br>
                <div class="submit">
                    <input type="submit" value="Registrar" class="btn btn-primary pull-right" id="button-blue" />
                    <div class="ease"></div>
                </div>
                <br>
                <div class="submit">
                    <input type="reset" value="Borrar Campos" class="btn btn-danger pull-right" id="button-reset">
                    <div class="ease"></div>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.js"></script>

@Scripts.Render("~/bundles/clienteAdd")

