﻿@using LibreriaV5_1_Final.Modelo
@{
    List<Object> clientes = Model[0];
    int registros = (Model[1] / 10) + 1;
}

<div id="form-main">
    <span id="totalClientes" class="display-4">Total de clientes: @Model[1]</span>

    @if (((TUsuario)Session["usuario"]) != null && ((TUsuario)Session["usuario"]).Rol.Equals("Administrador"))
    {
        <ul id="myList">
            <table id="tabla" class="table">
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Borrar</th>
                    <th scope="col">Ver</th>
                    <th scope="col">Modificar</th>
                </tr>
                @foreach (TCliente cliente in clientes)
                {
                    <tr id="@cliente.CodCliente" class="clientes">
                        <td>
                            @cliente.Nombre
                        </td>
                        <td>
                            @Ajax.ActionLink("Borrar", "borrar", "Cliente", new { cli = cliente.CodCliente }, new AjaxOptions()
                       {
                           HttpMethod = "POST",
                           InsertionMode = InsertionMode.Replace,
                           UpdateTargetId = "totalClientes",
                       }, new { onclick = "borrarCliente(\"" + cliente.CodCliente + "\")", @class = "btn btn-danger" })
                        </td>
                        <td>@Html.ActionLink("Ver", "ver", "Cliente", new { cli = cliente.CodCliente }, new { @class = "btn btn-success" })</td>
                        <td>@Html.ActionLink("Editar", "modificar", "Cliente", new { cli = cliente.CodCliente }, new { @class = "btn btn-warning" })</td>

                    </tr>
                }

            </table>
        </ul>
        <br />
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                @for (int i = 0; i < registros; i++)
                {
                    int pagina = i + 1;
                    <li class="page-item"><a class="page-link paginacion" id="@pagina">@pagina</a></li>
                }

            </ul>
        </nav>
    }
</div>
<script src="https://code.jquery.com/jquery-3.2.1.js"></script>
@Scripts.Render("~/bundles/ClientesConsultar")