﻿@using LibreriaV5_1_Final.Modelo
@{
    TCliente cliente = ViewBag.cliente;
    TUsuario usuario = ViewBag.usuario;
}
<h3 style="margin-bottom: 25px; text-align: center;">Editar cliente</h3>
<div class="container">
    <div id="mensaje" role="alert"></div>
    <div class="col-md-10">
        <div class="form-area">
            <form class="form" method="post" action="javascript:Enviar()">
                <input id="codCliente" name="CodCliente" type="hidden" value="@cliente.CodCliente" />
                <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input name="Nombre" type="text" maxlength="30" required="" class="form-control" placeholder="Nombre" id="nombre" value="@cliente.Nombre" />
                </div>
                <div class="form-group">
                    <label for="apellidos">Apellidos</label>
                    <input name="Apellidos" type="text" maxlength="30" minlength="5" required="" class="form-control" placeholder="Apellidos" id="apellidos" value="@cliente.Apellidos" />
                </div>
                <div class="form-group">
                    <label for="dni">DNI</label>
                    <input name="DNI" type="text" maxlength="30" minlength="5" required="" class="form-control" placeholder="DNI" id="dni" value="@cliente.DNI" />
                </div>
                <div class="form-group">
                    <label for="direccion">Direccion</label>
                    <input name="Direccion" type="text" maxlength="30" minlength="5" required="" class="form-control" placeholder="Direccion" id="direccion" value="@cliente.Direccion" />
                </div>
                <div class="form-group">
                    <label for="email">Correo electronico</label>
                    <input name="Email" type="email" maxlength="30" minlength="5" required="" class="form-control" placeholder="Correo electronico" id="email" value="@usuario.Nick" />
                </div>
                <br>
                <div class="submit">
                    <!--Boton enviar, al pulsar HTTP se encarga de mandar los datos al servidor, en este caso es un metodo POST(Declarado en la etiqueta form al principio).
                    Se recomienda usar el metodo POST al enviar datos al servidor ya que van mas ocultos. Si usaramos GET, se veria toda la informacion en la barra de
                    direcciones. GET SIEMPRE PARA PEDIR DATOS AL SERVIDOR. POST SIEMPRE PARA ENVIAR DATOS AL SERVIDOR.
                    -->
                    <input type="submit" value="Modificar" class="btn btn-primary pull-right" id="button-blue" />
                    <div class="ease"></div>
                </div>
                <br>
                <div class="submit">
                    <input type="reset" value="Borrar Campos" class="btn btn-danger pull-right" id="button-reset">
                    <div class="ease"></div>
                </div>
            </form>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/ClientesModificar")
