﻿@using LibreriaV5_1_Final.Modelo
<h3 style="margin-bottom: 25px; text-align: center;">Editar cliente</h3>
<div class="container">
    <div id="mensaje" role="alert"></div>
    <div class="col-md-10">
        <div class="form-area">
            <form class="form" method="post" action="javascript:Enviar()">
                <div class="form-group">
                    <label for="password">Antigua contraseña</label>
                    <input name="oldPass" type="password" maxlength="10" minlength="5" required="" class="form-control" placeholder="Password" id="oldPass" />
                </div>
                <div class="form-group">
                    <label for="password">Nueva contraseña</label>
                    <input name="pass1" type="password" maxlength="10" minlength="5" required="" class="form-control" placeholder="Password" id="pass1" />
                </div>
                <div class="form-group">
                    <label for="password">Repite la nueva contraseña</label>
                    <input name="pass2" type="password" maxlength="10" minlength="5" required="" class="form-control" placeholder="Password" id="pass2" />
                </div>
                <br>
                <div class="submit">
                    <!--Boton enviar, al pulsar HTTP se encarga de mandar los datos al servidor, en este caso es un metodo POST(Declarado en la etiqueta form al principio).
        Se recomienda usar el metodo POST al enviar datos al servidor ya que van mas ocultos. Si usaramos GET, se veria toda la informacion en la barra de
        direcciones. GET SIEMPRE PARA PEDIR DATOS AL SERVIDOR. POST SIEMPRE PARA ENVIAR DATOS AL SERVIDOR.
        -->
                    <input type="submit" value="Modificar" class="btn btn-primary pull-right" id="button-blue" />
                    <div class="ease"></div>
                </div>
                <br>
                <div class="submit">
                    <input type="reset" value="Borrar Campos" class="btn btn-danger pull-right" id="button-reset">
                    <div class="ease"></div>
                </div>
            </form>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/ClientesRestablecer")
