﻿@using LibreriaV5_1_Final.Modelo
@{
    List<Object> pedidos = Model[0];
    int registros = (Model[1] / 10) + 1;
}

<div id="form-main">
    <span id="totalPedidos" class="display-4">Total de pedidos: @Model[1]</span>
    <ul id="myList">
        <table id="tabla" class="table">
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Fecha</th>
                <th scope="col">Ver</th>
            </tr>
            @foreach (TFactura pedido in pedidos)
            {
                <tr id="@pedido.CodFactura" class="clientes">
                    <td>
                        @pedido.CodFactura
                    </td>
                    <td>
                        @pedido.FechaFactura
                    </td>
                    <td>
                        @Ajax.ActionLink("Ver pedido", "ver", "Pedido", new { fac = pedido.CodFactura }, new AjaxOptions()
           {
               HttpMethod = "POST",
               OnSuccess = "exito",
               InsertionMode = InsertionMode.Replace,

           }, new { @class = "btn btn-success pop-up", data_toggle = "modal" ,data_target="#emergente"})
                    </td>
                </tr>
            }

        </table>
    </ul>
    <br />
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            @for (int i = 0; i < registros; i++)
            {
                int pagina = i + 1;
                <li class="page-item"><a class="page-link paginacion" id="@pagina">@pagina</a></li>
            }
        </ul>
    </nav>

</div>

<!-- Modal -->
<div class="modal fade" id="emergente" tabindex="-1" role="dialog" aria-labelledby="model">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="model">Pedido: </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <br />
            </div>
            <div class="modal-body" id="container_lineas">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>

            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.js"></script>
@Scripts.Render("~/bundles/PedidosConsultar")