﻿@using LibreriaV5_1_Final.Modelo

@{ 
    TCliente cliente = Model;
}
<h1 class="display-4">Datos del Cliente</h1>
<table class="table">
    <tr>
        <td class="col-lg-6">Apellidos </td>
        <td class="col-lg-6">@cliente.Apellidos</td>
    </tr>
    <tr>
        <td class="col-lg-6">Nombre </td>
        <td class="col-lg-6">@cliente.Nombre</td>
    </tr>
    <tr>
        <td class="col-lg-6">DNI </td>
        <td class="col-lg-6">@cliente.DNI</td>
    </tr>
    <tr>
        <td class="col-lg-6">Direccion </td>
        <td class="col-lg-6">@cliente.Direccion</td>
    </tr>
    <tr>
        <td class="col-lg-6">Correo electronico </td>
        <td class="col-lg-6">@cliente.Email</td>
    </tr>
</table>
